body {
    background-image: linear-gradient(to right, rgb(168, 149, 157) , rgb(209, 155, 193));
}

.container{
    text-align: center;

}

#board{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.square{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover{
    background-color: #dfcbdf;
}

.square:X{
    color: rgb(70, 106, 139);
}

.square:O {
    color: rgb(100, 28, 28);
}

button{
    cursor: pointer;
}

button:hover{
    background-color: rgb(179, 176, 176);
}